body{
    font-family: 'Poppins', sans-serif;
    display: flex;
}
section{
    display: flex;
}
.span{
    color: orange;
}
h1{
    font-size: 50px;
    margin-bottom: 2px;
    line-height: 60%;
}
.half1{
    width: 100%;
    padding-left: 7%;
    padding-top: 10%;
}
.half2{
    width: 100%;
    padding-right: 2%;
    padding-left: 5%;
    padding-top: 3%;
}
.half img{
    width: 100%;
}
.button1{
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 300;
}
.para1{
    margin-bottom: 5%;
    margin-top: 5%;
}