body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section1{
    display: flex;
    padding-bottom: 2%;
}
.span{
    color: orange;
}
h1{
    font-size: 50px;
    margin-bottom: 2px;
    line-height: 60%;
}
.half1{
    width: 100%;
    padding-left: 7%;
    padding-top: 10%;
}
.half2{
    width: 100%;
    padding-right: 2%;
    padding-left: 5%;
    padding-top: 3%;
}
.half2 img{
    width: 100%;
}
.button1{
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 300;
}
.para1{
    margin-bottom: 5%;
    margin-top: 5%;
}
.sec2{
    display: flex;
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom: 2%;
}
.half3 img{
    width: 40%;
}
.half3{
width: 100%;
padding: 7%;
}
.half4{
width: 100%;
padding-top: 2%;
padding-right: 3%;
}
.about{
    padding-bottom: 5%;
    padding-top: 18%;
}
.para2{
    padding-bottom: 5%;
}
.boxes{
    display: flex;
    width: 80%;
    padding-bottom: 5%;
}
.third{
    text-align: center;
    padding-bottom: 2%;
}
.third1{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5%;
}
.half5{
    width: 40%;
    margin-left: 15%;
    padding-left: 2%;
    padding-bottom: 3%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
